.main-wrapper{
  background: $light;
  padding: 0;
  .col-md-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .pattern-item__left{
      top: 70px;
      left: -30px;
    }
    .pattern-item__right{
      top: 70px;
      right: 0;
    }
  }
  .slick-arrow{
    z-index: 2;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    background: $white;
    border-radius: 50%;
    .icon{
      fill: none;
      stroke: $gray-100;
    }
    &:hover{
      background: rgba($white,.8);
      .icon{
        stroke: $secondary;
      }
    }
  }
  .slick-prev{
    left: 15px;
    transform: rotate(180deg);
  }
  .slick-next{
    right: 15px;
  }
}
.main-slide{
  &__title{
    font-family: $monserant;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $default;
    margin-bottom: 30px;
    span{
      display: block;
      font-size: 90px;
      line-height: 90px;
      color: $primary;
    }
  }
  &__text{
    font-family: $monserant;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $default;
    margin-bottom: 40px;
  }
}
.about-wrapper{
  position: relative;
  background: $white;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 360px;
    max-width: 418px;
    background: $primary;
  }
  .section-title{
    text-align: left;
  }
  .about-media{
    .pattern-item{
      top: 50%;
      margin-top: -75px;
    }
    .pattern-item__left{
      left: -10px;
      margin-top: -60px;
    }
    .pattern-item__right{
      right: 100px;
    }
  }
}
.about-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  &__media{
    width: 40px;
    min-width: 40px;
    padding-right: 10px;
    img{
      width: 30px;
    }
  }
  &__info{
    width: calc(100% - 40px);
  }
  &__title{
    font-family: $monserant;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $default;
    margin-bottom: 5px;
  }
  &__text{
    font-family: $monserant;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: $default;
  }
}
.service-wrapper{
  background: $light;
  .col-md-6{
    .pattern-item{
      display: none;
    }
  }
}
.service-wrap{
  display: flex;
  flex-direction: column;
}
.service-item{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 25px;
  &:hover{
   .service-item__title{
     color: $primary;
   }
  }
  &__media{
    width: 45px;
    img{
      width: 20px;
    }
  }
  &__title{
    font-family: $monserant;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $default;
    svg{
      display: none;
    }
  }
  &__list{
    display: none;
  }
}
.service-media{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .pattern-item__left{
    top: 15px;
    left: 30px;
  }
  .pattern-item__right{
    bottom: 15px;
    right: 30px;
  }
  img{
    margin: 0 auto;
    display: block;
  }
}
.service-info{
  &__title{
    svg{
      display: none;
    }
  }
  .section-subtitle{
    font-family: $monserant;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: $default;
    margin-bottom: 50px;
  }
}
.advantage-wrapper{
  background: $white;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 60%;
    background: $primary;
    height: 100%;
  }
  .pattern-item{
    top: -60px;
    left: -80px;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .section-text{
    margin-bottom: 40px;
  }
}
.advantage__info{
  padding-right: 50px;
  .section-title {
    text-align: left;
  }
}
.advantage-wrap{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.advantage-item{
  width: 50%;
  background: $white;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  text-align: center;
  padding: 25px;
  transition: all ease 300ms;
  transform: scale(1);
  &:hover{
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 5px 5px 10px 5px rgba(8,12,20,0.2);
  }
  &:nth-child(2){
    border-right: 0;
  }
  &:nth-child(4){
    border-right: 0;
  }
  img{
    margin: 0 auto;
  }
  &__media{
    margin-bottom: 20px;
  }
  &__title{
    font-family: $monserant;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $default;
    margin-bottom: 10px;
  }
  &__text{
    font-family: $monserant;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: $default;
  }
}
.map-wrapper{
  background: $light;
  .section-title{
    text-align: left;
    margin-bottom: 30px;
  }
  .section-text{
    margin-bottom: 40px;
  }
  .pattern-item{
    height: 78px;
    width: 100%;
    bottom: 0;
  }
}
.counter-block{
  position: relative;
  padding-left: 23px;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: $primary;
  }
  &__numb{
    font-family: $monserant;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $default;
    margin-bottom: 5px;
  }
  &__title{
    font-family: $monserant;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $default;
    margin-bottom: 5px;
  }
}
.work-wrapper{
  background: $white;
}
.work-wrap{
  display: flex;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 45px;
    z-index: -1;
    left: 0;
    background: $light;
  }
}
.work-item{
  &__media{
    width: 90px;
    min-width: 90px;
    height: 90px;
    background: $white;
    border: 1px solid $light;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 30px;
  }
  &__step{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: $white;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border: 1px solid $light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 22px;
    font-family: $monserant;
    font-weight: 700;
    color: $gray-100;
  }
  &__title{
    font-size: 14px;
    line-height: 20px;
    font-family: $monserant;
    font-weight: 400;
    text-align: center;
  }
}
.banner-wrapper{
  background: $primary;
  padding: 60px 0 0;
  overflow: hidden;
  .banner-media{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: 60px;
      right: 0;
      top: 50%;
      margin-top: -170px;
      width: 364px;
      height: 364px;
      border-radius: 50%;
      background: $white;
      z-index: -1;
    }
    img{
      margin: 0 auto;
    }
  }
  .pattern-item__left{
    left: 40px;
    top: 5px;
  }
  .pattern-item__right{
    right: 90px;
    bottom: 36px;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .section-text{
    margin-bottom: 40px;
  }
  .col-md-6{
    &:last-of-type{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.news-wrapper{
  background: $white;
  .slick-slide {
    margin: 0 8px;
  }
  .slick-list {
    margin: 0 -8px;
  }
  .slick-arrow{
    z-index: 2;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    background: $gray;
    border-radius: 50%;
    .icon{
      fill: none;
      stroke: $white;
    }
    &:hover{
      background: rgba($gray, .8);
      .icon{
        stroke: $secondary;
      }
    }
  }
  .slick-prev{
    left: -85px;
    transform: rotate(180deg);
  }
  .slick-next{
    right: -85px;
  }
}
.news-item{
  &__media{
    margin-bottom: 10px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__categories{
    font-size: 12px;
    line-height: 20px;
    font-family: $monserant;
    color: $primary;
    font-weight: 500;
  }
  &__title{
    font-size: 14px;
    line-height: 18px;
    font-family: $monserant;
    color: $default;
    font-weight: 500;
  }
  &__date{
    font-size: 12px;
    line-height: 24px;
    font-family: $monserant;
    color: $gray-100;
    font-weight: 500;
  }
}
.brands-wrapper{
  background: $light;
}
.brands-wrap{
  display: flex;
  flex-wrap: wrap;
}
.brands-item{
  height: 115px;
  max-width: calc(162px - 2px);
  margin:1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: $white;
  transition: all ease 300ms;
  transform: scale(1) !important;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &:hover{
    transform: scale(1.1) !important;
    z-index: 5;
    box-shadow: 5px 5px 10px 5px rgba(8,12,20,0.2);
  }
}